/* Variables  */
:root {
    --medium-margin: 10px;
    --large-margin: 18px
}

/* Styles */
body {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    margin-left: var(--medium-margin);
    background-color: #DDAAFF;
}

nav {
    margin-top: var(--large-margin);
    margin-bottom: var(--large-margin);
    color: #555555;
}

tr{
    border: 2px solid white;
}