:root {
    --medium-margin: 10px;
    --large-margin: 18px
}

body {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    margin-left: var(--medium-margin);
    background-color: lightgray;
    color: #555555;
}

nav {
    margin-top: var(--large-margin);
    margin-bottom: var(--large-margin);
}

h1, h5, a.tourolink, th{
	color: #8800FF;
}

a.menu{
	color: #555555;
	font-size: 25px;
}

#home{
	font-size: 55px;
}

a.link{
	color: 555555;
}

tr:hover{
	background-color: AA55FF;
}

table{
	border-collapse: collapse;
	text-align:center;
}