/* Variables  */
:root {
    --medium-margin: 10px;
    --large-margin: 18px
}

/* Styles */
body {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    margin-left: var(--medium-margin);
    background-color: white;
    width: 320px;
}

nav {
    margin-top: var(--large-margin);
    margin-bottom: var(--large-margin);
}

a{
    color: #555555;
}

tr:hover{
    background-color: #AA55FF;
}