<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="stylesheet" type="text/css" href="../static/css/main.css">

    {% if title %}
        <title>{{ title }} – MCON 104 Term Project</title>
    {% else %}
        <title>MCON 104 Term Project </title>
    {% endif %}
</head>

<body>
<nav>
    <img src="../static/favicon.ico" alt="Logo"/>
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('major') }}">Major</a>
    <a href="{{ url_for('minor') }}">Minor</a>
</nav>
<hr/>

{% block content %}
{% endblock %}
</body>
</html>