<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="stylesheet" type="text/css" href="../static/css/main.css">

    {% if title %}
        <title>{{ title }} – MCON 104 Term Project</title>
    {% else %}
        <title>MCON 104 Term Project </title>
    {% endif %}
</head>

<body>
<div>
<nav>
    <a href="{{ url_for('index') }}"><img src="../static/favicon.ico" alt="Logo" height="80"/>Computer Science at Touro<img src="../static/images/computer.jpg" alt="Home" height="80"/></a>
    <br/>
    <a href="{{ url_for('major') }}">Major</a>
    <a href="{{ url_for('minor') }}">Minor</a>
</nav>
</div>
    <hr/>

{% block content %}
{% endblock %}
</body>
</html>