{% extends "base.html" %}
{% block content %}
    <h1>About Computer Science at <abbr title="Touro College"><a href="https://las.touro.edu/women/programs-and-majors/majors/computer-science.php" target="_blank"><img src="../static/images/small-circle-touro-logo.png" alt="Touro College" height="30px"></a></abbr></h1>


    <p>Computer science (CS) is defined as the study of computers and their uses.  The Computer Science and Management Information Systems (MIS) majors provide both
	the theoretical knowledge and practical skills that are essential to develop cutting-edge computing solutions.  You will obtain the foundation necessary to adapt
	to a world of ever evolving new technologies.  Graduates with degrees in CS and MIS become Computer Programmers, Mobile App Developers, Business and System Analysts,
	Web Developers, Software Engineers, Applications Developers, Database Administrators, and IT Project Managers and Leaders.</p>

    <p>Do you enjoy solving complex problems?  Are you creative?  Can you think in a logical methodical fashion?  Would you like to invent new approaches to computing
	technology and find innovative applications for existing technologies?  If so, a career in Computer Science may be for you.</p>

    <p>Computer Science is one of the few professional fields in which a master’s degree is not required.  Opportunities exist in almost every industry in small companies,
	startups, and major corporations.  Touro College’s bachelor’s degrees in Computer Science and MIS have an emphasis on the practical skills necessary to begin and
	sustain a successful career in technology.  Graduates are well prepared to begin working immediately upon graduation. For those interested in a master's degree,
	eligibile students can participate in the integrated technology merit fast track to start working towards their master's at the Graduate School of Technology while
	pursuing their bachelor's.</p>
    <h5>-adapted from <a href="https://las.touro.edu/women/programs-and-majors/majors/computer-science.php" target="_blank">Touro College official website</a></h5>
{% endblock %}