{% extends "base.html" %}
{% block content %}
<h1 id="required">Required Courses for Major in Computer Science</h1>
    <a href="#electives">See electives for the major</a>
    <br/>
    <br/>
	<table>
	  <thead>
	    <th>Course Number</th>
		<th>Course Name</th>
		<th>Number of Credits</th>
	  </thead>
	  <tr>
		<td>MCO 104</td>
		<td>Computing Theory and Applications</td>
		<td>4</td>
	  </tr>
	  <tr>
		<td>MCO 141</td>
		<td>Introduction to Programming</td>
		<td>3</td>
	  </tr>
	  <tr>
		<td>MCO 152</td>
		<td>Computer Methodology</td>
		<td>3</td>
	  </tr>
	  <tr>
		<td>MCO 232</td>
		<td>Advanced Programming</td>
		<td>3</td>
	  </tr>
	  <tr>
		<td>MCO 264</td>
		<td>Data Structures I</td>
		<td>3</td>
	  </tr>
	  <tr>
		<td>MCO 243</td>
		<td>Operating Systems</td>
		<td>3</td>
	  </tr>
	  <tr>
		<td>MCO 251</td>
		<td>Programming Languages</td>
		<td>3</td>
	  </tr>
	  <tr>
		<td>MCO 260</td>
		<td>Computer Architecture</td>
		<td>3</td>
	  </tr>
	  <tr>
		<td>MCO 343</td>
		<td>Database Concepts & Design</td>
		<td>3</td>
	  </tr>
	  <tr>
		<td>MCO 352</td>
		<td>Structured Systems Analysis</td>
		<td>3</td>
	  </tr>
	  <tr>
		<td>MCO 364</td>
		<td>Data Structures II</td>
		<td>3</td>
	  </tr>
	  <tr>
		<td>MCO 368</td>
		<td>Advanced Topics in Object-Oriented Programming</td>
		<td>3</td>
	  </tr>
	  <tr>
		<td>MCO 452</td>
		<td>Internship in Computer Science</td>
		<td>3</td>
	  </tr>
	  <tr>
		<td>MAT 121</td>
		<td>Calculus</td>
		<td>4</td>
	  </tr>
      <tr>
		<td>MCO 241</td>
		<td>Math for Computer Science Majors</td>
		<td>3</td>
	  </tr>
	</table>

	<h1 id="electives">Elective Courses for Major in Computer Science</h1>
    <a href="#required">See required courses for the major</a>
	<p>A major in computer science requires 4 of the following electives.</p>
	<table>
	  <thead>
	    <th>Course Number</th>
		<th>Course Name</th>
		<th>Number of Credits</th>
	  </thead>
	  <tr>
		<td>MAT 122</td>
		<td>Calculus II</td>
		<td>4</td>
	  </tr>
	  <tr>
		<td>MAT 231</td>
		<td>Probability Theory</td>
		<td>3</td>
	  </tr>
	  <tr>
		<td>MCO 201</td>
		<td>Digital Electronics</td>
		<td>3</td>
	  </tr>
	  <tr>
		<td>MCO 223</td>
		<td>Wide Area Networks I (Cisco)</td>
		<td>3</td>
	  </tr>
	  <tr>
		<td>MCO 228</td>
		<td>Advanced Computer Hardware and Systems Security</td>
		<td>3</td>
	  </tr>
	  <tr>
		<td>MCO 245</td>
		<td>UNIX Operating Systems</td>
		<td>3</td>
	  </tr>
	  <tr>
		<td>MCO 275</td>
		<td>Internet Tools and Web Design</td>
		<td>3</td>
	  </tr>
	  <tr>
		<td>MCO 353</td>
		<td>Data Communications</td>
		<td>3</td>
	  </tr>
	  <tr>
		<td>MCO 354</td>
		<td>Local Area Networks</td>
		<td>3</td>
	  </tr>
	  <tr>
		<td>MCO 355</td>
		<td>Advanced Local Area Networks (LAN)</td>
		<td>3</td>
	  </tr>
	  <tr>
		<td>MCO 358</td>
		<td>Web Programming</td>
		<td>3</td>
	  </tr>
	  <tr>
		<td>MCO 451</td>
		<td>Special Topics in Computer Science</td>
		<td>3</td>
	  </tr>
	</table>
{% endblock %}